<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Document</title>
</head>
<body class="bg-gray-100">
    <main class="lg:flex"></main>
        <form method="POST" action="" class="lg:flex lg:flex-col lg:w-3/5 border border-gray-300 bg-gray-200 bord rounded-lg mx-32 p-4 text-gray-900" >
        <label for="title">Title</label>        
        <input type="text" name="title" id="title" placeholder="Title" class="lg:rounded-md lg:bg-gray-100 border-zinc-600 lg:border lg:p-2">
        <label for="message">Message</label>
        <input type="text" name="message" id="message" placeholder="Message" class="lg:rounded-md lg:bg-gray-100 border-zinc-600 lg:border lg:p-2">
        <button class="bg-violet-300 lg:p-2 lg:rounded-md lg:text-zinc-900 lg:mt-4">Create Message</button>
        </form>
    </main>
</body>
</html>