<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Login</title>
</head>
<body class="bg-gray-100 text-gray-900  font-sans">
    <header>
        <nav class="lg:flex lg:justify-between lg:mx-32 lg:my-8">
            <div>
                <span class="text-violet-300">membersONLY</span>
            </div>
            <div>
                <a class="lg:px-2 lg:py-1 bg-violet-300 lg:rounded" href="/login">Log in</a>
                <a class="lg:px-2 lg:py-1 bg-violet-300 lg:rounded" href="/signup">Sign up</a>
            </div>
        </nav>
    </header>
    <main class="text-center">
        <h1 class="lg:text-center lg:text-7xl lg:tracking-wide lg:font-extrabold mt-10 text-gray-400/80">Messages</h1>

    </main>

</body>
</html>